:root {
    --black: #000000;
    --white: #FFFFFF;
    --c-black: #2C2C2C;
    --c-black-20: #6E6E6E;
    --c-clack-30: #4B4B4B;
    --c-blue: #E5F4FF;
    --primary: #1473E6;
    --primary-hover: #0F58B1;
    --border: #F5F5F5;
    --font-family: "Open Sans", arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
}