.comment__head {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
}

.comment__name {
    font-weight: 600;
    color: var(--c-black-30);
}

.comment__email {
    color: var(--c-black-20);
}

.comment__body {
    margin-top: 10px;
    color: var(--c-black-30);
}