.post {
    width: 100%;
    padding: 25px 46px;
}

.post__header {
    display: flex;
    gap: 9px;
    margin-top: 12px;

    span {
        font-size: 9px;
        color: var(--c-black-20);

        @media (width >= 480px) {
            font-size: 12px;
        }
    }
}

.post__likes {
    display: flex;
    gap: 2px;
}

.image {
    width: 100%;
    max-width: 687px;
    height: auto;

    @media (width >= 730px) {
        margin-left: -25px;
    }
}

.post__text {
    font-size: 18px;
    color: var(--c-black-20);
}

.like {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-top: 40px;

    span {
        font-size: 18px;
    }
}

.comments {
    margin-top: 34px;
}

.comments__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 0;
}

.form {
    margin-top: 23px;
}